In [46]:
import pandas as pd
import os

In [47]:
pth = "../raw_asset_data"

In [48]:
if os.path.isdir(pth) == False:
    os.mkdir(pth)

In [49]:
data = pd.read_csv ('train.csv')

In [50]:
data['Time'] = pd.to_datetime(data['timestamp'], unit='s')

In [51]:
asset_details = pd.read_csv('asset_details.csv')

In [52]:
data

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,Time
0,1514764860,2,40.0,2376.580000,2399.500000,2357.140000,2374.590000,1.923301e+01,2373.116392,-0.004218,2018-01-01 00:01:00
1,1514764860,0,5.0,8.530000,8.530000,8.530000,8.530000,7.838000e+01,8.530000,-0.014399,2018-01-01 00:01:00
2,1514764860,1,229.0,13835.194000,14013.800000,13666.110000,13850.176000,3.155006e+01,13827.062093,-0.014643,2018-01-01 00:01:00
3,1514764860,5,32.0,7.659600,7.659600,7.656700,7.657600,6.626713e+03,7.657713,-0.013922,2018-01-01 00:01:00
4,1514764860,7,5.0,25.920000,25.920000,25.874000,25.877000,1.210873e+02,25.891363,-0.008264,2018-01-01 00:01:00
...,...,...,...,...,...,...,...,...,...,...,...
24236801,1632182400,9,775.0,157.181571,157.250000,156.700000,156.943857,4.663725e+03,156.994319,NaN,2021-09-21 00:00:00
24236802,1632182400,10,34.0,2437.065067,2438.000000,2430.226900,2432.907467,3.975460e+00,2434.818747,NaN,2021-09-21 00:00:00
24236803,1632182400,13,380.0,0.091390,0.091527,0.091260,0.091349,2.193732e+06,0.091388,NaN,2021-09-21 00:00:00
24236804,1632182400,12,177.0,0.282168,0.282438,0.281842,0.282051,1.828508e+05,0.282134,NaN,2021-09-21 00:00:00
24236805,1632182400,11,48.0,232.695000,232.800000,232.240000,232.275000,1.035123e+02,232.569697,NaN,2021-09-21 00:00:00

In [53]:
asset_details.head(15)

    Asset_ID    Weight        Asset_Name
0          0  4.304065      Binance Coin
1          1  6.779922           Bitcoin
2          2  2.397895      Bitcoin Cash
3          3  4.406719           Cardano
4          4  3.555348          Dogecoin
5          5  1.386294            EOS.IO
6          6  5.894403          Ethereum
7          7  2.079442  Ethereum Classic
8          8  1.098612              IOTA
9          9  2.397895          Litecoin
10        10  1.098612             Maker
11        11  1.609438            Monero
12        12  2.079442           Stellar
13        13  1.791759              TRON

In [54]:
asset_list = []

for each in asset_details['Asset_ID']:
    asset_name = asset_details['Asset_Name'].loc[asset_details['Asset_ID'] == each].values
    asset_name = asset_name[0].replace(' ', '_' )
    
    print(each, asset_name)
    
    asset_df = pd.DataFrame(data.loc[data['Asset_ID'] == each ])
    asset_df.dropna(inplace=True)
    # asset_df.reset_index(drop=True, inplace=True)
    
    asset_list.append(asset_df)
    asset_df.to_csv(f'{pth}/{each}_{asset_name}.csv')

0 Binance_Coin
1 Bitcoin
2 Bitcoin_Cash
3 Cardano
4 Dogecoin
5 EOS.IO
6 Ethereum
7 Ethereum_Classic
8 IOTA
9 Litecoin
10 Maker
11 Monero
12 Stellar
13 TRON

In [55]:
asset_list[3]

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,Time
1294668,1523956260,3,16.0,0.260000,0.260990,0.260000,0.260000,32230.832200,0.260200,-0.004612,2018-04-17 09:11:00
1294679,1523956320,3,28.0,0.260000,0.260990,0.259852,0.260000,18711.228600,0.260037,0.000387,2018-04-17 09:12:00
1294689,1523956380,3,9.0,0.260000,0.260000,0.258700,0.258700,6831.405700,0.259515,-0.005415,2018-04-17 09:13:00
1294699,1523956440,3,5.0,0.259999,0.259999,0.259870,0.259998,4414.874062,0.259884,-0.005415,2018-04-17 09:14:00
1294709,1523956500,3,9.0,0.259997,0.259997,0.259000,0.259997,10797.813800,0.259997,0.000385,2018-04-17 09:15:00
...,...,...,...,...,...,...,...,...,...,...,...
24236512,1632181200,3,798.0,2.063944,2.068921,2.060000,2.066293,477013.930066,2.063762,-0.003660,2021-09-20 23:40:00
24236526,1632181260,3,586.0,2.066920,2.075111,2.065000,2.072681,235358.849447,2.070633,-0.000785,2021-09-20 23:41:00
24236540,1632181320,3,554.0,2.073588,2.075800,2.066000,2.070531,272064.107458,2.072041,-0.001108,2021-09-20 23:42:00
24236554,1632181380,3,462.0,2.071358,2.073646,2.066000,2.069067,212747.708780,2.069571,-0.001168,2021-09-20 23:43:00
24236568,1632181440,3,602.0,2.069070,2.071348,2.061000,2.063074,393769.023540,2.067059,-0.001147,2021-09-20 23:44:00

In [56]:
count = 0

for each in asset_list:
    print (count, ")   ", asset_list[count].shape[0])
    count = count + 1

0 )    1929204
1 )    1955978
2 )    1948676
3 )    1773136
4 )    1011892
5 )    1952838
6 )    1955860
7 )    1941801
8 )    1398965
9 )    1955509
10 )    630469
11 )    1461658
12 )    1716933
13 )    1853546