In [107]:
import math
import pandas as pd
import numpy as np
import os

In [108]:
# if os.path.isdir('../raw_data') == False:
#     os.mkdir('../raw_data')

In [109]:
data = pd.read_csv ('train.csv')

In [110]:
# data['Time'] = pd.to_datetime(data['timestamp'], unit='s')

In [111]:
asset_details = pd.read_csv('asset_details.csv')

In [112]:
data.head(10)

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.580000,2399.5000,2357.1400,2374.590000,19.233005,2373.116392,-0.004218
1,1514764860,0,5.0,8.530000,8.5300,8.5300,8.530000,78.380000,8.530000,-0.014399
2,1514764860,1,229.0,13835.194000,14013.8000,13666.1100,13850.176000,31.550062,13827.062093,-0.014643
3,1514764860,5,32.0,7.659600,7.6596,7.6567,7.657600,6626.713370,7.657713,-0.013922
4,1514764860,7,5.0,25.920000,25.9200,25.8740,25.877000,121.087310,25.891363,-0.008264
5,1514764860,6,173.0,738.302500,746.0000,732.5100,738.507500,335.987856,738.839291,-0.004809
6,1514764860,9,167.0,225.330000,227.7800,222.9800,225.206667,411.896642,225.197944,-0.009791
7,1514764860,11,7.0,329.090000,329.8800,329.0900,329.460000,6.635710,329.454118,NaN
8,1514764920,2,53.0,2374.553333,2400.9000,2354.2000,2372.286667,24.050259,2371.434498,-0.004079
9,1514764920,0,7.0,8.530000,8.5300,8.5145,8.514500,71.390000,8.520215,-0.015875

In [113]:
asset_details.head(15)

    Asset_ID    Weight        Asset_Name
0          0  4.304065      Binance Coin
1          1  6.779922           Bitcoin
2          2  2.397895      Bitcoin Cash
3          3  4.406719           Cardano
4          4  3.555348          Dogecoin
5          5  1.386294            EOS.IO
6          6  5.894403          Ethereum
7          7  2.079442  Ethereum Classic
8          8  1.098612              IOTA
9          9  2.397895          Litecoin
10        10  1.098612             Maker
11        11  1.609438            Monero
12        12  2.079442           Stellar
13        13  1.791759              TRON

In [114]:
asset_list = []

for each in asset_details['Asset_ID']:
    print(each)
    asset_list.append( pd.DataFrame(data.loc[data['Asset_ID'] == each ]) )

0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [115]:
count = 0

for each in asset_list:
    print (count, ")   ", asset_list[count].shape[0])
    count = count + 1

0 )    1942619
1 )    1956282
2 )    1953537
3 )    1791867
4 )    1156866
5 )    1955140
6 )    1956200
7 )    1951127
8 )    1592071
9 )    1956030
10 )    670497
11 )    1701261
12 )    1778749
13 )    1874560

In [116]:
BTC_data = pd.DataFrame(asset_list[1])
BTC_data = BTC_data.reset_index(drop=True)
ETH_data = pd.DataFrame(asset_list[6])
ETH_data = ETH_data.reset_index(drop=True)

In [117]:
BTC_data.tail(20)

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
1956262,1632181260,1,2281.0,42718.815000,42819.380000,42690.84,42781.970571,76.339988,42755.785162,0.003246
1956263,1632181320,1,2642.0,42772.921250,42827.100000,42690.75,42755.592500,117.429123,42749.075916,0.003108
1956264,1632181380,1,2134.0,42762.290000,42811.300000,42694.37,42717.234286,78.049458,42749.024591,0.002770
1956265,1632181440,1,2165.0,42703.802500,42752.000000,42636.76,42657.202500,86.518794,42680.263993,0.002726
1956266,1632181500,1,2177.0,42655.528484,42715.990000,42630.17,42678.721429,93.523647,42679.036829,NaN
1956267,1632181560,1,2352.0,42688.935000,42810.260000,42662.27,42778.291250,97.442472,42739.891567,NaN
1956268,1632181620,1,2080.0,42790.287143,42828.000000,42742.36,42790.175714,97.634234,42794.666167,NaN
1956269,1632181680,1,2058.0,42792.855714,42827.700000,42713.48,42731.731429,78.468814,42786.068940,NaN
1956270,1632181740,1,3717.0,42745.153750,42937.310000,42713.48,42898.565000,116.567006,42828.789861,NaN
1956271,1632181800,1,3253.0,42896.174286,42966.980000,42852.07,42939.645714,113.220529,42910.257438,NaN
1956272,1632181860,1,2264.0,42937.784286,42971.950000,42899.10,42927.167143,56.655507,42932.332787,NaN
1956273,1632181920,1,2824.0,42933.254907,43014.980000,42907.18,42979.833750,97.404745,42963.462903,NaN
1956274,1632181980,1,1697.0,42974.108693,43005.650000,42929.74,42960.601429,58.419459,42963.080444,NaN
1956275,1632182040,1,1439.0,42971.347143,43008.850000,42953.10,42985.482857,39.329753,42981.323152,NaN
1956276,1632182100,1,1608.0,42982.915714,43006.540000,42958.06,42985.214824,47.701279,42983.752149,NaN
1956277,1632182160,1,1940.0,42983.780000,43001.850849,42878.26,42899.012857,56.850913,42935.489499,NaN
1956278,1632182220,1,2026.0,42904.197143,42932.000000,42840.16,42860.005714,80.993326,42879.576084,NaN
1956279,1632182280,1,1986.0,42859.385714,42887.500000,42797.20,42827.020000,65.677734,42844.090693,NaN
1956280,1632182340,1,4047.0,42839.012802,43042.160000,42818.10,43017.277143,138.335477,42935.761938,NaN
1956281,1632182400,1,2698.0,43009.961250,43048.510000,42961.64,43002.505000,128.206820,43011.414052,NaN

In [118]:
log_returns_list = []

try:
    for i in range(0, BTC_data.shape[0]):
        log_returns_list.append(math.log(BTC_data['Close'].iloc[i+16] / BTC_data['Close'].iloc[i+1]))
except:
    log_returns_list.append(None)
    
if len(log_returns_list) != BTC_data.shape[0]:
    diff = abs(len(log_returns_list) - BTC_data.shape[0])
    for j in range(0, diff):
        log_returns_list.append(None)
    
BTC_data['LogReturns'] = log_returns_list

In [119]:
weight = asset_details['Weight'].iloc[1]

sum_w_lr = 0
sum_w = 0

for i in range(0, BTC_data.shape[0]):
    if math.isnan(BTC_data['LogReturns'].iloc[i]) == False:
        
        sum_w_lr = sum_w_lr + weight * BTC_data['LogReturns'].iloc[i]
        sum_w = sum_w + weight
    
    else:
        
        print("found Nan here @ ", i)
    

for i in range(0, BTC_data.shape[0]):
    if math.isnan(BTC_data['LogReturns'].iloc[i]) == False:
        
        sum_w_lr = sum_w_lr + weight * BTC_data['LogReturns'].iloc[i]
        sum_w = sum_w + weight
    
    else:
        
        print("found Nan here @ ", i)

# w_avg_market_returns = sum_w_lr/sum_w

print(w_avg_market_returns)

found Nan here @  1956266
found Nan here @  1956267
found Nan here @  1956268
found Nan here @  1956269
found Nan here @  1956270
found Nan here @  1956271
found Nan here @  1956272
found Nan here @  1956273
found Nan here @  1956274
found Nan here @  1956275
found Nan here @  1956276
found Nan here @  1956277
found Nan here @  1956278
found Nan here @  1956279
found Nan here @  1956280
found Nan here @  1956281
8.744296560236967e-06

In [ ]:
mkt = BTC_data["LogReturns"]

window = 3750

num = df.multiply(mkt.values, axis=0).rolling(window).mean().values  #numerator of linear regression coefficient
denom = mkt.multiply(mkt.values, axis=0).rolling(window).mean().values  #denominator of linear regression coefficient
beta = np.nan_to_num( num.T / denom, nan=0., posinf=0., neginf=0.)  #if regression fell over, use beta of 0

In [131]:
def ResidualizeMarket(df, mktColumn, window):
  if mktColumn not in df.columns:
    return df

  mkt = df[mktColumn]

  num = df.multiply(mkt.values, axis=0).rolling(window).mean().values  #numerator of linear regression coefficient
  denom = mkt.multiply(mkt.values, axis=0).rolling(window).mean().values  #denominator of linear regression coefficient
  beta = np.nan_to_num( num.T / denom, nan=0., posinf=0., neginf=0.)  #if regression fell over, use beta of 0

  resultRet = df - (beta * mkt.values).T  #perform residualization
  resultBeta = 0.*df + beta.T  #shape beta

  return resultRet.drop(columns=[mktColumn]), resultBeta.drop(columns=[mktColumn])

In [130]:
test1 = ResidualizeMarket(BTC_data, "test", 3750)

In [122]:
print(resultRet)

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1.514765e+09,1.0,229.0,13835.194,14013.8,13666.11,13850.176,31.550062,13827.062093,-0.014643
1,1.514765e+09,1.0,235.0,13835.036,14052.3,13680.00,13828.102,31.046432,13840.362591,-0.015037
2,1.514765e+09,1.0,528.0,13823.900,14000.4,13601.00,13801.314,55.061820,13806.068014,-0.010309
3,1.514765e+09,1.0,435.0,13802.512,13999.0,13576.28,13768.040,38.780529,13783.598101,-0.008999
4,1.514765e+09,1.0,742.0,13766.000,13955.9,13554.44,13724.914,108.501637,13735.586842,-0.008079

In [123]:
test2.head()

   timestamp  Asset_ID  Count  Open  High  Low  Close  Volume  VWAP  Target
0        0.0       0.0    0.0   0.0   0.0  0.0    0.0     0.0   0.0     0.0
1        0.0       0.0    0.0   0.0   0.0  0.0    0.0     0.0   0.0     0.0
2        0.0       0.0    0.0   0.0   0.0  0.0    0.0     0.0   0.0     0.0
3        0.0       0.0    0.0   0.0   0.0  0.0    0.0     0.0   0.0     0.0
4        0.0       0.0    0.0   0.0   0.0  0.0    0.0     0.0   0.0     0.0

In [124]:
BTC_data.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,LogReturns
0,1514764860,1,229.0,13835.194,14013.8,13666.11,13850.176,31.550062,13827.062093,-0.014643,-0.014751
1,1514764920,1,235.0,13835.036,14052.3,13680.00,13828.102,31.046432,13840.362591,-0.015037,-0.015151
2,1514764980,1,528.0,13823.900,14000.4,13601.00,13801.314,55.061820,13806.068014,-0.010309,-0.010362
3,1514765040,1,435.0,13802.512,13999.0,13576.28,13768.040,38.780529,13783.598101,-0.008999,-0.009040
4,1514765100,1,742.0,13766.000,13955.9,13554.44,13724.914,108.501637,13735.586842,-0.008079,-0.008112

In [125]:
start_date_train = '2018-01-01 00:00:00'
end_date_train = '2021-01-01 00:00:00'

In [126]:
start_date_test = '2021-01-01 00:00:00'
end_date_test = '2021-09-01 00:00:00'

In [127]:
### MIN TEST and TRAIN RAW DATA

In [128]:
#BTC MIN Train

mask = (BTC_data['Time'] > start_date_train) & (BTC_data['Time'] <= end_date_train)

BTC_data_trim_train_min = pd.DataFrame(BTC_data.loc[mask])

BTC_data_trim_train_min.drop('Target', inplace=True, axis=1)

BTC_data_trim_train_min = BTC_data_trim_train_min.reset_index(drop=True)

# BTC_data_trim_train_min.to_csv('../raw_data/BTC_min_train.csv')

KeyError: 'Time'

In [ ]:
#BTC MIN Test

mask = (BTC_data['Time'] > start_date_test) & (BTC_data['Time'] <= end_date_test)

BTC_data_trim_test_min = pd.DataFrame(BTC_data.loc[mask])

BTC_data_trim_test_min.drop('Target', inplace=True, axis=1)

BTC_data_trim_test_min = BTC_data_trim_test_min.reset_index(drop=True)

# BTC_data_trim_test_min.to_csv('../raw_data/BTC_min_test.csv')